body {
  background-color: wheat;
  color: brown;
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
h1 {
  color: black;
}
h3 {
  color: #3c3c3c;
}
div {
  font-size: 24px;
  font-weight: bold;
}
a {
  font-size: 20px;
}
.ikona {
  padding-left: 120px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: solid;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: burlywood;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(201, 68, 68);
  color: white;
  text-align: center;
  height: 35px;
}
